
.about {
  padding: 1rem calc(1rem + 5vw);
  p {
    padding: calc(0.5rem + 3vw) calc(1rem + 5vw);
    margin-bottom: calc(1rem + 5vw);
    border-radius: 6px;
    span {
      display: block;
      font-family: "Poppins-Bold", sans-serif;
      margin-top: calc(0.5rem + 0.5vw);
      margin-bottom: calc(0.5rem + 1vw);
    }
  }
  &-top,
  &-middle-top,
  &-middle-bottom,
  &-bottom {
    min-height: calc(25rem - 5vw);
    position: relative;
  }
  &-circle {
    width: calc(5rem + 4vw);
    height: calc(5rem + 4vw);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
    img {
      width: calc(5rem + 4vw - 2px);
      height: calc(5rem + 4vw - 2px);
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-top {
    div {
      :nth-child(1) {
        position: absolute;
        left: calc(5vw - 1rem);
        top: calc(15rem - 5vw);
        scale: 1.2;
      }
      :nth-child(2) {
        position: absolute;
        left: calc(3rem + 5vw);
        top: calc(10rem - 5vw);
        scale: 0.8;
        background-color: purple;
        ::before {
          content: "ABOUT US";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: white;
          white-space: nowrap;
        }
      }
    }
    p {
      background-color: pink;
      margin-left: calc(2.5rem + 15vw);
      .about-icons {
        margin-block: calc(0.5rem + 0.5vw);
        display: flex;
        gap: calc(0.5rem + 0.5vw);
        svg {
          height: calc(1rem + 1vw);
          width: calc(1rem + 1vw);
        }
      }
    }
  }
  &-middle {
    &-top {
      p {
        margin-right: calc(3rem + 15vw);
      }
      .about-circle {
        :nth-child(2) {
          position: absolute;
          right: calc(1rem + 4vw);
          top: calc(6rem - 2vw);
          scale: 1.6;
        }
        :nth-child(3) {
          position: absolute;
          right: calc(1rem - 1vw);
          top: calc(2rem - 1vw);
          scale: 1.2;
          background-color: pink;
          z-index: -1;
        }
      }
    }
    &-bottom {
      display: flex;
      height: fit-content;
      div {
        .about-circle {
          :nth-child(1) {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            scale: 1.4;
          }
          :nth-child(2) {
            position: absolute;
            top: calc(3rem + 6vw);
            left: calc(3rem + 10vw);
            scale: 0.9;
            background-color: pink;
          }
          :nth-child(3) {
            position: absolute;
            top: calc(4rem + 8vw);
            left: calc(2.5rem + 8vw);
            scale: 1.1;
            background-color: pink;
          }
          :nth-child(4) {
            position: absolute;
            top: calc(7rem + 16vw);
            left: calc(0.5rem + 1vw);
            scale: 1.1;
            background-color: $color-primary;
          }
        }
      }
      p {
        margin-left: calc(5rem + 15vw);
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: calc(0.5rem + 2vw);
    min-height: calc(3rem + 30vw);
  }
  .about-card {
    background-color: $color-primary;
    height: calc(7rem + 12vw);
    min-width: calc(5rem + 10vw);
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    p {
      text-align: center;
    }
  }
}
