.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  :hover {
    cursor: pointer;
  }
  &-cover {
    background-color: $color-secondary;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    max-width: 100%;
  }
  &-info {
    max-width: 100%;
    max-height: calc(2rem + 0.5vw);
    padding-block: 2px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include set-background(lighten($color-quaternary, 10%));
    .card-title {
      padding-inline: 4px;
    }
    button {
      background-color: transparent;
    }
  }
}
