@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

// VARIABLES
$color-primary: #4059ad;
$color-secondary: #6b9ac4;
$color-tertiary: #97d8c4;
$color-quaternary: #f4b942;
$color-light: rgba(255, 255, 255, 0.7);

$font-stack-thin: "Poppins-ExtraLight", sans-serif;
$font-stack-normal: "Poppins-Medium", sans-serif;
$font-stack-bold: "Poppins-Regular", sans-serif;

$space-1: calc(1rem + 1vw);
$space-2: calc(2rem + 2vw);
$space-3: calc(3rem + 3vw);
$space-4: calc(4rem + 4vw);
$space-5: calc(5rem + 5vw);
$space-6: calc(6rem + 6vw);
$space-7: calc(7rem + 7vw);
$space-8: calc(8rem + 8vw);

$shadow-box: 2px 2px 15px 0 rgba(darken($color-primary, 30), 0.1);

:root {
  --rate: 3;
}

// FUNCTIONS
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// MIXINS
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// CLASSES
$levels: (1, 2, 3, 4, 5);
@each $level in $levels {
  // margin
  .m-#{$level} {
    margin: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .mx-#{$level} {
    margin-inline: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .my-#{$level} {
    margin-block: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .mt-#{$level} {
    margin-top: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .mr-#{$level} {
    margin-right: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .mb-#{$level} {
    margin-bottom: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .ml-#{$level} {
    margin-left: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }

  // padding
  .p-#{$level} {
    padding: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .px-#{$level} {
    padding-inline: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .py-#{$level} {
    padding-block: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .pt-#{$level} {
    padding-top: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .pr-#{$level} {
    padding-right: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .pb-#{$level} {
    padding-bottom: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }
  .pl-#{$level} {
    padding-left: calc(#{calc($level * 0.1)}rem + #{$level}vw);
  }

  // gap
  .g-#{$level} {
    gap: calc(#{calc($level / 8)}rem + #{$level}vw);
  }

  // height
  .h-#{$level} {
    height: calc(#{calc($level * 1.2)}rem + #{calc($level * 2)}vw);
  }
  // width
  .w-#{$level} {
    width: calc(#{$level}rem + #{calc($level * 10)}vw);
  }
  // font-size
  .f-#{$level} {
    font-size: calc(#{calc($level * 2 + 10)}px + #{calc($level * 0.1)}vw);
  }
}

.b {
  border: solid 1px red;
}
