* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  @include set-background(darken($color-primary, 30%));
  font-family: $font-stack-thin;
  overflow-x: hidden;
  background-image: linear-gradient(
    to left bottom,
    darken($color-primary, 20%) 25%,
    darken($color-secondary, 20%) 25%,
    darken($color-secondary, 20%) 50%,
    darken($color-tertiary, 20%) 50%,
    darken($color-tertiary, 20%) 75%,
    darken($color-quaternary, 20%) 75%,
    darken($color-quaternary, 20%) 100%
  );
}

main {
  max-width: calc(40rem + 30vw);
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
  :hover {
    opacity: 0.8;
    cursor: pointer;
  }
  :active {
    opacity: 0.9;
  }
}

.link {
  position: relative;
  &:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    height: 1px;
    width: calc(100% + 4px);
    background-color: #fff;
  }
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.9;
  }
}

button,
input,
textarea {
  border-radius: $radius;
  padding: 0.4rem;
}
