.hero {
  @include set-background(rgba(lighten($color-quaternary, 10%), 0.7));
  border-radius: 0.2rem;
  box-shadow: $shadow-box;
  &-top {
    @include set-background($color-light);
    background-image: linear-gradient(
      to bottom,
      $color-light,
      darken($color-primary, 40%)
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $font-stack-normal;
      font-weight: bold;
      button {
        width: fit-content;
        @include set-background($color-quaternary);
        border-radius: 0.2rem;
        box-shadow: $shadow-box;
        font-size: inherit;
        position: relative;
        &::after {
          content: "SHOP NOW";
          @include set-background($color-tertiary);
          background-image: linear-gradient(
            to right bottom,
            lighten($color-quaternary, 10%) 50%,
            darken($color-tertiary, 10%) 50%
          );
          height: 100%;
          width: 0px;
          border-radius: 0.2rem;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          transition: 50ms ease-in-out;
          display: grid;
          place-content: center;
          color: transparent;
        }
        &:hover {
          &::after {
            width: 100%;
            z-index: 1;
            color: $color-primary;
          }
        }
        &:active {
          opacity: 0.8;
        }
      }
    }
    img {
      width: 60%;
      max-width: 20rem;
      align-self: center;
      object-fit: cover;
      object-position: top;
    }
  }
  &-middle {
    background-color: darken($color-quaternary, 10%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      max-height: 45%;
      &:nth-child(1) {
        max-height: 100%;
      }
    }
  }
  &-bottom {
    @include set-background($color-light);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($space-7, 1fr));
    justify-content: space-evenly;
    align-items: center;
  }
}
