

/* Products */

.products-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 2rem 0.4rem 1rem;
  background-color: #eee;
  margin-top: calc(-2rem - 2vw);
  margin-inline: 0.5rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.single-category {
  padding: 1rem;
  font-family: "Poppins-ExtraLight", sans-serif;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 20vw));
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  .card-cover {
    object-fit: contain;
    /* background-color: white !important; */
    background-image: linear-gradient(
      to right bottom,
      white 92%,
      transparent 8%
    );
    object-position: center;
    padding: 1rem;
  }
}