/* Products */

.products-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  border-radius: 4px;
  .card {
    margin-block: 0.4rem;
    margin-inline: 0.2rem;
  }
  .card-cover {
    display: none;
  }
  .card-info {
    border-radius: 4px;
    @include set-background($color-tertiary);
    background-image: linear-gradient(
      65deg,
      $color-tertiary 80%,
      darken($color-tertiary, 20%) 80%
    );
  }
}

.single-category {
  min-height: 68vh;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: start;
  justify-content: center;
  .card-cover {
    object-fit: contain;
    background-image: linear-gradient(
      to right bottom,
      #fff 90%,
      darken($color-tertiary, 20%) 90%,
      darken($color-tertiary, 20%) 95%,
      lighten($color-quaternary, 10%) 95%
    );
    object-position: center;
    padding: 1rem;
  }
  .card-info {
    padding-inline: 2px;
    @include set-background($color-light);
    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: $space-6;
    }
  }
}
