@media (min-width: 768px) {
  .home {
    display: flex;
  }
  .hero {
    flex: 2 1 70%;
    margin-right: 0;
    margin-block: $space-2;
  }
  .column {
    z-index: -1;
    flex: 1 1 40%;
    margin-left: -2rem;
    &-middle > &-middle-info > img {
      padding: 0.3rem;
    }
  }
  .support {
    &-top {
      justify-content: flex-start;
    }
    &-middle {
      flex-direction: row;
      .contact {
        transform: translateY(calc(-4rem - 4vw));
      }
      form {
        height: 100%;
      }
    }
  }
  .cart {
    flex-direction: row;
  }
  footer > .footer {
    flex-direction: row;
    &-right {
      width: 45%;
    }
  }
}
