@media (min-width: 1024px) {
  .home {
    display: flex;
  }
  .hero {
    flex: 2 1 70%;
    margin-right: 0;
    margin-block: $space-2;
  }

  .column {
    z-index: -1;
    flex: 1 1 40%;
    margin-left: -2rem;
    &-middle > &-middle-info > img {
      padding: .3rem;
    }

  }
  .footer {
    flex-direction: row;
  }
}
