/* Header */
header {
  height: 10rem;
}

.header-wave {
  width: calc(20rem + 25vw);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  font-size: calc(8px + 0.5vw);
  margin-bottom: 2rem;
  font-family: "Poppins-ExtraLight", sans-serif;
}

/* Main */
main {
  margin-bottom: 2rem;
}

.hero {
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: calc(.5rem + 1vw);
  min-height: 120vh;
  width: calc(15rem + 40vw);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
  padding: 1px;
}

.hero-top {
  height: 55vh;
  background-color: #eee;
  margin: calc(1rem + 2vw);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.hero-top-box {
  width: calc(1rem + 15vw);
  height: calc(1rem + 2vw);
  background-color: #e5c643;
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2vw);
  transform: rotateZ(-15deg);
}

.hero-top-box:nth-child(1) {
  background-color: white;
  margin-top: 3rem;
}

.hero-top-info {
  margin-top: .6rem;
  position: absolute;
  left: calc(4px + 6vw);
  font-size: calc(4px + 2vw);
  white-space: nowrap;
  font-family: "Poppins-Bold", sans-serif;
}

.hero-top button {
  position: absolute;
  left: calc(4px + 6vw);
  bottom: calc(4px + 6vh);
  font-size: calc(8px + 1vw);
  color: white;
  background-color: red;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
}

.hero-top > img {
  margin: 1rem;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.hero-middle {
  height: 8vh;
  background-color: #ebd96b;
  margin: -1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 4px;
}

.hero-middle > img {
  padding: 4px;
}

.hero-middle > img:nth-child(1) {
  padding-top: 6px;
  height: 80px;
}

.hero-bottom {
  display: flex;
  justify-content: space-evenly;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-cover {
  margin-inline: 0.5rem;
  margin-top: 1rem;
  height: calc(6rem + 12vw);
  width: calc(4rem + 10vw);
  border-radius: 4px;
  box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
}

.card-info {
  padding: .2rem;
  display: flex;
  width: calc(4rem + 10vw);
}

.card-title {
  font-size: calc(10px + 0.5vw);
}

.card-description {
  font-size: calc(8px + 0.5vw);
  color: #999;
}

.column {
  margin-bottom: 2rem;
  height: 150vh;
  width: calc(10rem + 20vw);
  background-color: rgba(255, 255, 255, 0.9);
  padding-block: 1rem;
  position: absolute;
  top: 0;
  right: calc(1rem + 1vw);
  z-index: -1;
}

.column-yellow {
  height: 130vh;
  background-color: #ebd96b;
  background-image: radial-gradient(ellipse at top left, #f6ecb8, #ebd96b),
    radial-gradient(ellipse at bottom right, #e5c643, #ebd96b);
  padding-top: 1rem;
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.column-yellow-top {
  height: 40vh;
}

.column-yellow-top svg {
  position: absolute;
  left: calc(0.5rem + 8vw);
  transform: rotateZ(-25deg);
}

.column-yellow-top div {
  position: absolute;
  left: calc(0.5rem + 3vw);
  top: calc(1rem + 8vw);
  width: calc(1rem + 12vw);
  height: calc(1rem + 2vw);
  background-color: #eee;
  margin-bottom: 2rem;
  margin-left: calc(1rem + 2vw);
  transform: rotateZ(10deg);
}

.column-yellow-top img {
  position: absolute;
  right: 1rem;
  top: calc(4vw * 1.6);
}

.column-white {
  position: absolute;
  top: calc(10rem + 5vw);
  bottom: 20vh;
  left: 0;
  right: 0;
  background-color: #fff;
}

.column-white-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-block: calc(0.5rem + 5vw);
  padding-inline: calc(0.3rem + 0.8vw);
}

.category-card > .card-cover {
  height: calc(3.5rem + 8vw);
  width: calc(4rem + 8vw);
}

.category-card > .card-info {
  padding: 0.4rem;
}

.column-white-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.column-white-bottom-left {
  position: relative;
}

.column-white-bottom-left > p {
  font-size: calc(10px + 0.5vw);
  padding: 4px;
  margin-bottom: 1rem;
}

.column-btns {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  left: calc(10px + 0.5vw);
  bottom: 0;
}

.column-white-bottom-left button {
  color: white;
  background-color: black;
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
  font-size: calc(10px + 0.5vw);
}

.column-white-bottom img {
  height: calc(5rem + 5vw);
  width: auto;
}

.column-yellow-bottom {
  height: calc(4rem + 2vw);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.column-yellow-bottom-title {
  font-size: calc(10px + 0.5vw);
  font-family: "Poppins-Bold", sans-serif;
}

.column-yellow-bottom-info {
  font-size: calc(8px + 0.4vw);
  margin-bottom: 1rem;
}

.column-yellow-bottom > input {
  border: none;
  outline: none;
  padding: 2px 4px;
  border-radius: 4px;
}

.column-yellow-bottom > input::placeholder {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: calc(8px + 0.4vw);
}

/* Footer */
footer {
  height: 20rem;
}

.footer-wave {
  width: calc(20rem + 15vw);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
}
