.column {
  margin-bottom: 2rem;
  height: calc(134vh + 2vw);
  width: calc(9rem + 20vw);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px 2px rgba(2, 2, 2, 0.1);
  padding-block: 1rem;
  position: absolute;
  top: 0;
  right: calc(1rem + 1vw);
  z-index: -1;
}

.column-yellow {
  height: 130vh;
  background-color: #ebd96b;
  background-image: radial-gradient(ellipse at top left, #f6ecb8, #ebd96b),
    radial-gradient(ellipse at bottom right, #e5c643, #ebd96b);
  padding-top: 1rem;
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.column-yellow-top {
  height: 40vh;
}

.column-yellow-top svg {
  position: absolute;
  top: calc(0.2rem + 4vw);
  left: calc(0.2rem + 8vw);
  transform: rotateZ(-22deg);
  width: calc(2rem + 5vw);
}

.column-yellow-top div {
  position: absolute;
  left: calc(0.5rem + 2vw);
  top: calc(3.5rem + 8vw);
  width: calc(1rem + 10vw);
  height: calc(1rem + 1vw);
  background-color: #eee;
  margin-bottom: 2rem;
  margin-left: calc(1rem + 2vw);
  transform: rotateZ(10deg);
}

.column-yellow-top img {
  position: absolute;
  right: calc(0.5rem + 1vw);
  top: calc(1rem + 2vw);
  width: calc(8rem + 2vw);
}

.column-white {
  position: absolute;
  top: calc(10rem + 5vw);
  bottom: 20vh;
  left: 0;
  right: 0;
  background-color: #fff;
}

.column-white-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  padding-block: calc(0.5rem + 5vw);
}

.category-card > .card-cover {
  height: calc(3.5rem + 8vw);
  width: calc(3.5rem + 9.2vw);
  margin: 0;
}

.category-card > .card-info {
  padding: 0.4rem;
}

.column-white-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.column-white-bottom-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.column-white-bottom-left > p {
  font-size: calc(10px + 0.5vw);
  padding: 4px;
  margin-bottom: 1rem;
}

.column-btns {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.column-white-bottom-left button {
  font-size: calc(5px + 0.5vw);
  color: white;
  background-color: black;
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}

.column-white-bottom img {
  height: calc(5rem + 5vw);
  width: auto;
}

.column-yellow-bottom {
  color: #fff;
  height: calc(5rem + 2vw);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
}

.column-yellow-bottom-title {
  font-size: calc(10px + 0.5vw);
  font-family: "Poppins-Bold", sans-serif;
}

.column-yellow-bottom-info {
  font-size: calc(8px + 0.4vw);
  margin-bottom: 0.5rem;
}

.column-yellow-bottom > input {
  border: none;
  outline: none;
  padding: 2px 8px;
  border-radius: 4px;
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: calc(8px + 0.4vw);
}
