.hero {
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: calc(0.5rem + 1vw);
  min-height: calc(100vh + 15vw);
  width: calc(12rem + 45vw);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
  padding-block: calc(1rem + 1vw);
  position: relative;
}

.hero-top {
  height: calc(60vh - 2vw);
  background-color: #eee;
  margin: calc(1.5rem - 2vw) calc(1rem + 2vw) calc(3rem - 2vw);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.hero-top-box {
  width: calc(1rem + 12vw);
  height: calc(1rem + 1vw);
  background-color: #e5c643;
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2vw);
  transform: rotateZ(-15deg);
}

.hero-top-box:nth-child(1) {
  background-color: white;
  margin-top: 3rem;
}

.hero-top-info {
  position: absolute;
  left: calc(4px + 2vw);
  top: calc(10rem + 4vw);
  display: flex;
  flex-direction: column;
  gap: calc(0.5rem + 1vw);
  align-items: center;
  font-size: calc(8px + 1vw);
  font-family: "Poppins-Bold", sans-serif;
}

.hero-top-info > button {
  width: fit-content;
  background-color: red;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 2px 2px 12px 1px rgba(2, 2, 2, 0.1);
}

.hero-top-info > button > a {
  font-size: calc(8px + 1vw);
  color: white;
}

.hero-top > img {
  margin: 1rem;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.hero-middle {
  height: 8vh;
  background-color: #ebd96b;
  margin: -1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 4px;
}

.hero-middle > img {
  padding: 4px;
}

.hero-middle > img:nth-child(1) {
  padding-top: 6px;
  height: 80px;
}

.hero-bottom {
  position: absolute;
  bottom: calc(2.5rem - 1vw);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
