@import "config";
@import "general";
@import "home";
@import "header";
@import "hero";
@import "column";
@import "card";
@import "products";
@import "about";
@import "footer";

.explore-more-btn {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: calc(10px + 0.8vw);
  color: #999;
  margin: 0.4rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
}

@import "screen_middle";
@import "screen_large";
